node_modules
.env
.env.*
!.env.example

coverage
coverage.json
.nyc_output

types
cache
artifacts
abi
dist

package-lock.json
yarn-error.log
tsconfig.json
hardhat.config.cjs
hardhat.config.ts

deployment.config.json

# Narya files
out
reports
pnm-cov.json
.DS_Store
output.txt
deployment.config.31337.json
